---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dharmzeey About">
  <section>
    <div>
      I am Olanrewaju Adam also go by the alais Dharmzeey, I love that nick 
    </div>
    <div>
      A self taught full stack developer with few years experience.
      <br>
      I have not worked with a big tech company 😚 before but I have few projects I have gotten my hands wet with. I hope you will like them.
      <br>
      Stick around and enjoy
    </div>

    
  </section>
</Layout>