---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Dharmzeey About">
  <div class="p-2 pt-4">
    <h1 class="heading">
      <div class="relative">
        <h2 class="w-full m-auto p-2 text-center">Adam Olanrewaju</h2>
        <section class="mb-3">
          <ul class="list-none flex justify-center gap-6">
            <li>
              <a href="mailto:olanrewajuofficiall@gmail.com"
                ><i class="fa-solid fa-envelope"></i>
              </a>
            </li>
    
            <li>
              <a target="_blank" href="https://github.com/dharmzeey"
                ><i class="fa-brands fa-github"></i>
              </a>
            </li>
    
            <li>
              <a href="https://www.twitter.com/dharmzeey"
                ><i class="fa-brands fa-twitter"></i>
              </a>
            </li>
    
            <li>
              <a href="https://www.instagram.com/dharmzeey"
                ><i class="fa-brands fa-instagram"></i>
              </a>
            </li>
    
            <!-- <li><a href=""><i class="fa-brands fa-facebook"></i></a></li> -->
    
            <li>
              <a href="https://www.linkedin.com/in/olanrewaju-adam-1b0922172/">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </section>
        <!-- <div class="w-full absolute flex justify-center"> -->
          <div id="show-me" class="container h-full bg-slate-900/90 w-full m-auto fixed top-0 transition duration-700 cursor-pointer z-10 scale-0 origin-[50%_25%]">
            <!-- This below is the styling I use on above div(#show-me) when it dose not by default have scale-0 -->
            <!-- left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2  -->
            <div class="h-3/4 my-auto md:h-full">
              <img id="img-padding" src="/images/dharmzeey.jpeg" class="h-5/6 md:h-full m-auto shadow-2xl shadow-black transition-[padding] duration-700" alt="">
            </div>
        </div>
      </div>
      <div class="mt-4 h-60 w-full bg-[url('/images/dharmzeey.jpeg')] bg-cover bg-center mb-10">
        <div class="w-full h-full flex justify-center items-center hover:bg-slate-900/50 transition-colors duration-300 hover:cursor-pointer">
          <small id="view-me" class="absolute p-2 cursor-pointe border hover:bg-white hover:text-black transition duration-500 uppercase tracking-widest">View Me</small>
        </div>
      </div>
      <!-- <img class="h-60 mt-4 w-full" src="/images/about.jpg" alt="" /> -->
    </h1>
    <section>
      <div>
        I am Adam Olanrewaju also go by the alais <strong>Dharmzeey</strong>, I love that nick
      </div>
      <Card>
        <div>
          A general intro: I am a guy who loves science and Tech <span id="intro" class="cursor-pointer hover:opacity-40 font-black uppercase"
            >Read More <i class="fa-solid fa-angles-down"></i>
          </span>
        </div>
        <p class="hidden" id="personal">
          with how it solves a lot of
          problems and create innovations and inventions and has a strong passion
          for it which birthed me into software development. I love to write code and seeing the instructions being written accomplishing some task is just so awesome and satisfying.
          <br>
          Hardware Engineering is also one of my favourite, being able to think of something to bring the idea to life and solving a problem or bringing revolution to how things are being done. Sooner or later I will upgrade and incoporate my software skill into building physical things. 
          <br />
          I also love space and space adventures, hopefully I will be in the International
          Space Station one day and also live long enough to witness life on the Red
          Planet .🙂
          <br />
          I love seeing and watching exploration of our large water bodies either shallow or deep sea exploration and also the Beautiful creatures inhabiting the ecosystem.
          <br>
          I am a lover of cats and I admire them so much, even I do not have one and
          also I love nature and always trying my best to preserve it.
          <br />
          I love and adore babies they are cute 👶
          <br>
          Finally I love to analyse the Financial Market 💹.
        </p>
      </Card>
      <div class="-mt-12">
        A self taught full stack developer with few years experience. 2+ years with Frontend and 1+ years with Django Backend
        <br />
        As a python programmer, most of my projects are built on Django which I sometimes use tailwind, django-allauth and some other frameworks and libraries
        <br>
        Hope to expand my knowlegde and learn more stacks with time
        <br>
        I have not worked with a big tech company before 😚 but I have few projects
        I have gotten my hands wet with.
        <br>Check my <span class="more-projects"><a href="/projects">Project</a></span> section, I hope you will like them.
        <br />
        Stick around and enjoy.
      </div>
    </section>

    <section class="p-4">
      <div>Below are my Web Development stacks</div>
      <ul>
        <li>HTML</li>
        <li>Vanilla CSS</li>
        <li>Tailwind CSS</li>
        <li>Vanilla JS</li>
        <li>Jquery</li>
        <li>Astro</li>
        <li>Django</li>
      </ul>
      <div>My Python stacks</div>
      <ul>
        <li>Selenium</li>
        <li>Openpyxl</li>
        <li>Beautiful Soup</li>
      </ul>
    </section>

    <section>
      <div class="more-projects">
        Check out some of my projects <a href="/projects">Here </a>
        <br />
        Hope you like them?. If you do not mind kindly give a feedback
      </div>
    </section>

    <section class="mt-4">
      <div class="text-center">Best Advice and Quotes</div>
      <Card>
        <div class="mb-8">Stay Cool😎, Keep it Simple 📝, Put in Your Best 🏆, Take Good Care of yourself 🍸, stay Fit 💪 and Spread Love 💖</div>

        <span class="text-4xl">&ldquo;</span>
        I am not here to join the crowd, I am to make a difference ✨
        <span class="text-4xl">&rdquo;</span>
        <div>- Adam Olanrewaju</div>
        <br>

        <span class="text-4xl">&ldquo;</span>
        I have just three things to teach: simplicity, patience, compassion. These three are your greatest treasures.
        <span class="text-4xl">&rdquo;</span>
        <div>- Isaac Newton</div>
        <br>

        <span class="text-4xl">&ldquo;</span>
        Time and health are two precious assets that we don’t recognize and appreciate until they have been depleted.
        <span class="text-4xl">&rdquo;</span>
        <div>- Denis Waitley </div>
        <br>

        <span class="text-4xl">&ldquo;</span> Six Best Doctors in the World &nbsp; &nbsp; &nbsp; &nbsp;
        1. Sunlight &nbsp; &nbsp; &nbsp; &nbsp;
        2. Rest &nbsp; &nbsp; &nbsp; &nbsp;
        3. Exercise &nbsp; &nbsp; &nbsp; &nbsp;
        4. Diet &nbsp; &nbsp; &nbsp; &nbsp;
        5. Self Confidence and &nbsp;
        6. Friends. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        Maintain them in all stages of Life and enjoy a healthy life.
        <span class="text-4xl">&rdquo;</span>
        <div>- Steve Jobs </div>




      </Card>
    </section>

  </div>

  <Footer />
</Layout>

<style is:global>
  #nav-link {
    @apply list-none;
  }

  #nav-link a,
  #nav a {
    @apply text-white no-underline;
  }

  .more-projects a {
    @apply text-blue-800 font-bold cursor-pointer;
  }

  section {
    @apply leading-10 tracking-widest;
  }

  ul {
    @apply list-disc;
  }

  i {
    @apply text-xl;
  }

  .scale-up {
    @apply scale-y-0 transition ease-in-out delay-150 transform;
  }
</style>

<script>
  const readMore = document.getElementById("intro");
  const details = document.getElementById("personal");

  const viewMe = document.querySelector("#view-me");
  const showMe = document.querySelector("#show-me");
  const imgPadding = document.querySelector("#img-padding");
  

  readMore.addEventListener("click", () => {
    // details.classList.toggle("scale-up");
    details.classList.toggle("hidden");
  })

  viewMe.addEventListener("click", ()=>{
    showMe.style.transform = 'scale(1)';
    // showMe.style.height = '100%';
    imgPadding.style.padding = '2rem';
  })

  // TO TAKE AWAY THE DISPLAY
  showMe.addEventListener("click", ()=> {
    showMe.style.transform = 'scale(0)';
    // showMe.style.height = '0px';
    imgPadding.style.padding = '0px';
  })
</script>
