---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dharmzeey Portfolio">
	<h1>
		Adam Olanrewaju
	</h1>
	<section>
		<div>
			A Fullstack web developer 
		</div>
	</section>
</Layout>