---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Stacks from "../components/Stacks.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Resume">
  <div class="p-2 pt-10">
    <Card class="leading-10">
      <h2 class="pt-8 pb-3 text-4xl font-bold slide-in">Education</h2>
      <div class="flex justify-evenly flex-col-reverse md:flex-row">
        <div class=" md:w-48 lg:w-72 m-auto md:m-0 zoom-load">
          <dotlottie-player
            src="https://lottie.host/53ce88e1-cd09-411a-9771-da4745c00460/wvYekV9EKz.json"
            background="transparent"
            speed="1"
            loop
            autoplay></dotlottie-player>
        </div>
        <ProjectCard>
          <div class="leading-9">
            <div class="flex gap-5 pb-4">
              <img
                src="/images/ui.jpeg"
                alt="Univeristy of Ibadan"
                class="w-16 h-16 rounded-full"
              />
              <span class="text-xl self-center font-semibold text-gradient"
                >University of Ibadan, Nigeria</span
              >
            </div>
            <div class="">Bachelor of Forestry</div>
            <div class="text-slate-400">April 2018 - May 2024</div>
          </div>
        </ProjectCard>
      </div>
    </Card>
    <Card>
      <h2 class="pt-8 pb-3 text-4xl font-bold slide-in">Experience</h2>
      <Experience
        heading="GodHeranca"
        role="Backend Developer"
        time="April 2023 - ( Currently on hold )"
        text="Worked on a supermarket Mobile Application with other developers as the backend developer. Built the fast and secure API with django and django Rest Framework."
      />
      <Experience
        heading="Quick Call"
        role="Frontend Developer"
        time="August 2023 - September 2023"
        text="Team up with 2 other members to develop a flutter mobile app which made top 3 for the contest."
      />
      <Experience
        heading="Crushing It"
        role="Frontend Development"
        time="December 2023"
        text="Made the list of top 33 in the Crushing it December Hackathon with pure HTML, CSS and JS only."
      />
    </Card>
  </div>
  <Card>
    <h2 class="pt-8 pb-3 text-4xl font-bold slide-in">Membership</h2>
    <Experience
      heading="Google Developer Student Club, UI"
      role="Member"
      time="2021 - Present"
      text="Active Participation in events and helpful contributions."
    />
  </Card>
  <Card class="">
    <h2 class="pt-4 pb-3 text-4xl font-bold slide-in">Skills</h2>
    <div class="my-4">Web Development stacks</div>
    <ul class="grid grid-cols-4 gap-6">
      <li class="stacks">
        <Stacks imgURL="/images/stacks/html.svg" text={"HTML"} />
      </li>
      <li class="stacks">
        <Stacks imgURL="/images/stacks/css.svg" text={"CSS"} />
      </li>
      <li class="stacks">
        <Stacks imgURL="/images/stacks/htmx.png" text={"HTMX"} />
      </li>
      <li class="stacks">
        <Stacks imgURL="/images/stacks/tailwind.svg" text={"Tailwind"} />
      </li>
      <li class="stacks">
        <Stacks imgURL="/images/stacks/js.svg" text={"Javascript"} />
      </li>
      <li class="stacks">
        <Stacks imgURL="/images/stacks/jquery.svg" text={"Jquery"} />
      </li>
      <li class="stacks">
        <Stacks imgURL="/images/stacks/astro.png" text={"Astro"} />
      </li>
      <li class="stacks">
        <Stacks imgURL="/images/stacks/django.png" text={"Django"} />
      </li>
    </ul>

    <div class="my-4 pt-6">API</div>
    <ul class="grid grid-cols-4 gap-3">
      <li class="stacks">
        <Stacks
          imgURL="/images/stacks/drf.png"
          text={"Django REST Framework"}
        />
      </li>
    </ul>
    <div class="my-4 pt-6">Mobile Development</div>
    <ul class="grid grid-cols-4 gap-3">
      <li class="stacks">
        <Stacks imgURL="/images/stacks/flutter.png" text={"Flutter"} />
      </li>
    </ul>
    <div class="my-4 pt-6">Python stacks</div>
    <ul class="grid grid-cols-3 gap-3">
      <div class="stacks">
        <Stacks imgURL="/images/stacks/selenium.png" text={"Selenium"} />
      </div>
      <div class="stacks">
        <Stacks imgURL="/images/stacks/openpyxl.png" text={"OpenpyXl"} />
      </div>
      <div class="stacks">
        <Stacks imgURL="/images/stacks/bs.png" text={"Beautiful Soup"} />
      </div>
    </ul>
  </Card>
</Layout>

<Footer />

<style is:global>
  #nav-link {
    @apply list-none;
  }

  #nav-link a,
  #nav a {
    @apply text-white no-underline;
  }

  .more-projects a {
    @apply text-blue-800 font-bold cursor-pointer;
  }

  section {
    @apply leading-5 tracking-widest;
  }

  i {
    @apply text-xl;
  }

  .img-stack {
    @apply rounded-full w-14 h-14 border-2 border-slate-100 m-auto;
  }

  .scale-up {
    @apply scale-y-0 transition ease-in-out delay-150 transform;
  }

  .text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      rgb(186, 200, 241) 0.89%,
      rgb(138, 161, 231) 17.23%,
      rgb(93, 123, 212) 42.04%,
      rgb(48, 90, 214) 55.12%,
      rgb(44, 91, 232) 71.54%,
      rgb(4, 59, 226) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<script>
  const intro = document.getElementById("intro");
  const details = document.getElementById("personal");
  const expand = document.getElementById("expand");
  const collapse = document.getElementById("collapse");

  const viewMe = document.querySelector("#view-me");
  const showMe = document.querySelector("#show-me");
  const imgPadding = document.querySelector("#img-padding");

  // THIS IS TO TOGGLE READMORE AND COLLAPSE OF ABOUT SECTION
  intro.addEventListener("click", () => {
    details.classList.toggle("hidden");
    expand.classList.toggle("hidden");
    collapse.classList.toggle("hidden");
  });

  // THIS IS TO DISPLAY(SCALE OUT) THE PICTURE ON CLICK
  // viewMe.addEventListener("click", () => {
  //   showMe.style.transform = "scale(1)";
  //   showMe.style.transform = "rotate(360deg)";
  //   imgPadding.style.padding = "2rem";
  // });

  // // TO TAKE AWAY THE DISPLAY
  // showMe.addEventListener("click", () => {
  //   showMe.style.transform = "scale(0)";
  //   showMe.style.transform = "rotate(0deg)";
  //   imgPadding.style.padding = "0px";
  // });

  viewMe.addEventListener("click", () => {
    showMe.classList.toggle("scale-0");
    showMe.classList.toggle("rotate-[360deg]");
    imgPadding.style.padding = "2rem";
  });

  // TO TAKE AWAY THE DISPLAY
  showMe.addEventListener("click", () => {
    showMe.classList.toggle("scale-0");
    showMe.classList.toggle("rotate-[360deg]");
    imgPadding.style.padding = "0px";
  });
</script>
