<footer class="p-20 text-white bg-indigo-950 tracking-widest flex flex-col md:flex-row gap-4 justify-around">
  <div class="flex flex-col gap-4">
    <span>Adam Adedamola <span class="uppercase">Olanrewaju</span></span>
    <span>Dharmzeey</span>
  </div>
  <div>
    <ul class="list-none flex justify-center gap-6">
      <li class="zoom-load">
        <a href="mailto:olanrewajuofficiall@gmail.com"
          ><i class="fa-solid text-2xl fa-envelope"></i>
        </a>
      </li>

      <li class="zoom-load">
        <a target="_blank" href="https://github.com/dharmzeey"
          ><i class="fa-brands text-2xl fa-github"></i>
        </a>
      </li>

      <li class="zoom-load">
        <a href="https://www.linkedin.com/in/dharmzeey/">
          <i class="fa-brands text-2xl fa-linkedin"></i>
        </a>
      </li>

      <li class="zoom-load">
        <a href="https://www.twitter.com/dharmzeey"
          ><i class="fa-brands text-2xl fa-x-twitter"></i>
        </a>
      </li>

      <li class="zoom-load">
        <a href="https://www.instagram.com/dharmzeey"
          ><i class="fa-brands text-2xl fa-instagram"></i>
        </a>
      </li>

      <li class="zoom-load">
        <a href="https://www.tiktok.com/@dharmzeey">
          <i class="fa-brands text-2xl fa-tiktok"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>