
<header class="p-4 pl-0 pt-0">
  <div class="container w-full p-3 flex flex-wrap justify-between items-center fixed z-10 shadow-2xl rounded-b-2xl bg-slate-800 border-b border-2 border-slate-900/10">
    <div class="w-10">
      <a href="/">
      <img class="rounded-full" src="/idea.jpg" alt="Logo"></a>
    </div>
    <nav>
      <ul id="nav-link" class="flex flex-wrap justify-between items-center gap-3 md:gap-10 md:uppercase md:font-bold tracking-normal md:tracking-widest">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/resume">Resume</a>
        </li>
        <li>
          <a href="/projects">Projects</a>
        </li>
        <!-- <li>
          <a href="/projects">Blog</a>
        </li> -->
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div id="nav">
      <a href="https://github.com/Dharmzeey">
        <i class="fa-brands fa-github text-2xl"></i>
      </a>
    </div>
  </div>
</header>
