
<header class="p-6 pl-0 flex justify-between">
  <div class="w-24">
    <a href="/">
    <img src="/idea.jpg" alt="Logo"></a>
  </div>
  <nav>
    <ul class= "flex justify-between gap-3">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
    </ul>
  </nav>
  <div>
    <a href="https://github.com/Dharmzeey">
      <i class="fa-brands fa-github text-2xl"></i>
    </a>
  </div>
</header>
