---
import { Image } from "astro:assets";
---

<main class="min-h-[70vh] bg-indigo-950 text-white -mb-1">
  <div
    class="flex h-full flex-col-reverse justify-center items-center xl:flex-row p-10 md:p-20 pt-10 xl:pt-36 xl:container xl:m-auto"
  >
    <div class="xl:w-[90%] flex flex-col gap-4">
      <h1 class="text-center text-6xl md:text-8xl lg:text-9xl lx:text-left">
        Welcome
      </h1>
      <p class="text-center text-lg xl:text-left w-full leading-8">
        I&#39;m Adam Olanrewaju, a full-stack developer skilled in building
        scalable backends and user friendly interfaces. My portfolio features
        projects like a tree documentation platform, manufacturing app for a
        company, eCommerce sites, family networking tools, and RESTful APIs each
        reflecting my focus on clean code, performance, and real-world problem
        solving.
      </p>
      <a
        href="/Adam-Olanrewaju-Resume.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="mt-2 px-5 py-5 bg-indigo-800 text-white rounded-lg shadow hover:bg-indigo-700 transition-colors duration-200 w-fit self-center xl:self-start"
      >
        View Resume  
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </div>
    <div class="flex justify-center items-center w-full md:w-2/3">
      <Image
        width={800}
        height={800}
        alt="Showcase"
        class="w-full h-full"
        src={"/images/showcase.png"}
      />
    </div>
  </div>
</main>
