---
interface Props {
  imgURL: string;
  text: String;
}
const { imgURL, text }  = Astro.props as Props;
// const { text } = Astro.props as Props;
---

<div class="zoom-load"> 
  <div class="animate-zoom">
    <div>
      <img class="img-stack" src={`${imgURL}`} alt={`${text}`}>
    </div>
    <div class="text-center pt-3">{text}</div>
  </div>
</div>

