---
export interface Props {
  imgURL: string;
  text: String;
}
const { imgURL}  = Astro.props as Props;
const { text } = Astro.props as Props;
---

<div id=""> 
  <div>
    <img class="img-stack" src={`${imgURL}`} alt={`${text}`}>
  </div>
  <div class="text-center ">{text}</div>
</div>

