---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dharmzeey">
  <main>
    <div class="flex h-full min-h-[80vh] flex-col-reverse">
      <div>
        <h1 class="text-9xl">Welcome.</h1>
        <p class="text-xl">
          I am Adam Olnarewaju, a dedicated full-stack developer with extensive
          experience in designing scalable backend systems and creating
          intuitive, user-friendly interfaces. My portfolio showcases a variety
          of projects, including a tree documentation platform, a manufacturing
          website application, eCommerce platforms, and family connect and other
          RESTful APIs. Each project highlights my commitment to writing clean,
          efficient code, optimizing performance, and delivering innovative
          solutions to real life problems.
        </p>
      </div>
      <div class="w-1/2">
        <img src="Code" alt="./images/pc.jpg">
      </div>
    </div>
  </main>
</Layout>
