---
import "../styles/utils.css";
import "../styles/customs.css";
import Header from "../components/Header.astro";
export interface Props {
  title: string;
}

const { title = "Dharmzeey Portfoilo" } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Adam Olanrewaju, Dharmzeey's personal website" />
    <meta
      name="description"
      content="This is my personal website that contains my works and my informaton"
    />
    <meta
      name="keywords"
      content="Adam, Olanrewaju, Dharmzeey, Adedamola, personal, website"
    />

    <link rel="shortcut icon" href="/idea.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta property="og:title" content="Dharmzeey's portfolio website">
    <meta property="og:description" content="Dharmzeey's website containing his work and his information">
    <meta property="og:image" content="https://dharmzeey.netlify.app/idea.jpg">
    <meta property="og:url" content="https://dharmzeey.netlify.app/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Dharmzeey">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dharmzeey">
    <meta name="twitter:title" content="Dharmzeey's portfolio website">
    <meta name="twitter:description" content="Dharmzeey's website containing his work and his information">
    <meta name="twitter:image" content="https://dharmzeey.netlify.app/idea.jpg">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>{title} | Dharmzeey</title>
  </head>
  <body class="container m-auto">
    <Header />
    <div class="">
      <slot />
    </div>
  </body>
  <script
    src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
    type="module"></script>
  <script>
    import "../scripts/script";
  </script>
</html>
